<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>342</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>341</string>
					<key>Timestamp</key>
					<string>720195805.918829</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ImageCompress/ImageCompressionPage.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                    MARK: - SAVE BUTTON - TODO FIX ALERT NOT SHOWING UP
</string>
				<key>leading</key>
				<string>                        .buttonStyle(.plain)

</string>
				<key>trailing</key>
				<string>                    Button(action: {
                        saveAlert = true
                        if deleteOriginal {
</string>
			</dict>
			<key>title</key>
			<string>SAVE BUTTON - Fix alert</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
